Sitemap: http://www.systemrequirementslab.com/sitemap.xml
User-agent: *
Disallow: /AMD/1170
Disallow: /amd/1170
Disallow: /amd/
Disallow: /amd
Disallow: /AMD
Disallow: /AMD/
Allow: /
Allow: /CYRI/
Allow: /srl/

